header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: white;
    width: 100%;
    height: auto;
    border-bottom: 1px solid gray;
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
    z-index:1;
}


#logo{
    width: 250px;
    height: 80%;
    background-color: aquamarine;
    margin-left: 20px;
}

#shopcar{
    width: auto;
    display: flex;
    align-items: center;
    font-size: 30px;
}

#shopcar a{
    color: black;
}

.toggle{
    color: rgb(0, 0, 0);
    background: none;
    border: none;
    font-size: 25px;
    padding: 0 20px;
    display: none;
    cursor: pointer;
}


@media (max-width:1024px){
    header{
        justify-content:space-between;
        width: auto;
        margin-left: 0px;
    }
}


@media (max-width:776px){
    header {
        display: flex;
        justify-content: center;
        height: 8%;
        width: 100%;
        align-items: center;
    }

    #logo{
        max-width: 90%;
        height: 90%;
        margin-left: 5%;
    }

    .toggle{
        font-size: 30px;
        display: block;
        margin-right: 5%;
    }

    #shopcar a{
        color: black;
    }
}